doctype html
html
	head
		title
		meta(charset='utf-8')
		link(rel='stylesheet', href='../../bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='../../stylesheets/style.css')
		script(src='../../jquery-1.12.4.min.js')
		script(src='../../bootstrap/js/bootstrap.min.js')
		//- Dossier pas le même que les autres, ne sais pas pk
		title
	body
		nav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href='#')
						img(alt='Brand', src='../../images/logo.png')
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					
					input.btn.btn-default.navbar-right(type='button', value="Deconnexion", onclick="location.href='/deconnexion'", style='margin-left: 20px;margin-right: 20px;margin-top: 8px')
					ul.nav.navbar-nav.navbar-right
						li.active
							a.nav-marging-item(href='/') Accueil
						li
							a.nav-margin-item(href='/recherche') Recherche
						li
							a.nav-marging-item(href='/') Contact
						li.dropdown
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') #{sess.login}
								span.caret
							ul.dropdown-menu
								li
									a(href='#{sess.login}') Informations
								li
									a(href='/compte/#{sess.login}') Compte
								li.divider(role='separator')
								li
									a(href='#{sess.login}') Message
								li
									a(href='/compte/#{sess.login}/mesvins') Mes vins

		.container-fluid
			.row(style='margin-top: 100px')
				
				p Ajouter une bouteille à la cave de #{data.Pseudo}

				form.col-lg-4.col-lg-offset-4(method='post', name='addVinForm')
					.form-group
						#locationField
							Label Adresse
							input.form-control#autocomplete(placeholder='Enter your address', type='text')
						input(type='hidden', name='lat', id='lat')
						input(type='hidden', name='lng', id='lng')
						input(type='hidden', name='formatted_address', id='formatted_address')
					.form-group
						label Nom de la bouteille
						input.form-control(placeholder='Nom de la bouteille', name='bouteille', id='bouteille')
					.form-group
						label Millésime
						input.form-control(placeholder='Millésime', name='millesime', id='millesime')
					.form-group
						label Catégorie
						input.form-control(placeholder='Catégorie', name='categorie', id='categorie')
					.form-group
						label Appellation
						input.form-control(placeholder='Appellation', name='appellation', id='appellation')
					.form-group
						label Region Viticole
						input.form-control(list='domaines', 	placeholder='Region Viticole', name='region', id='region')
						datalist#domaines
							option(value='Alsace')
							option(value='Beaujolais')
							option(value='Bordeaux')
							option(value='Bourgogne')
							option(value='Champagne')
							option(value='Corse')
							option(value='Jura')
							option(value='Languedoc-Roussillon')
							option(value='Provence')
							option(value='Savoie')
							option(value='Sud-Ouest')
							option(value='Vallée de la Loire')
							option(value='Viticoleallée du Rhône')
					.form-group
						label Vigneron
						input.form-control(placeholder='Vigneron', name='vigneron', id='vigneron')
					.form-group
						label Assurance
						select.form-control(name='assurance ', id='assurance ')
							option A completer
							option A completer
					.form-group
						label Caractéristiques
						textarea.form-control(cols='40', rows='5', placeholder='Caractéristiques', name='caracteristiques', id='caracteristiques')
					input.btn.btn-default(type='submit', value='Ajouter')

				script.
					var autocomplete;
					var formatted_address;

					function initAutocomplete() {
					  // Create the autocomplete object, restricting the search to geographical location types.
					  autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode']});
					  autocomplete.addListener('place_changed', getLatLng);
					}
					function getLatLng() {
					  // Get the place details from the autocomplete object.
						var place = autocomplete.getPlace();

						var lat = place.geometry.location.lat();
						var lng = place.geometry.location.lng();
						formatted_address =  place.formatted_address;

						document.forms["addCaveForm"]["lat"].value = lat;
						document.forms["addCaveForm"]["lng"].value = lng;
						document.forms["addCaveForm"]["formatted_address"].value = formatted_address;
					}
				
				script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=#{process.env.APIKEY}&signed_in=true&libraries=places&callback=initAutocomplete')
