extends layout
block content
	.container-fluid
		.box
			.row
				.col-lg-12
					each reservation in data
						h3 Reservation de #{reservation.Pseudo}
						h4 Etat: #{reservation.Etat}
						if reservation.vins != undefined
							ul
								each vin in reservation.vins
									li #{vin.Quantite} #{vin.Bouteille} de #{vin.Annee}
